{% extends 'base.html.twig' %}

{% block title %}Hello Main Controller!
{% endblock %}

{% block body %}

	<div class="container" id="wallet-table">
		<main>
			<div class="py-5 text-center mt-5">
				<h2>PaperTrade Wallet</h2>
			</div>


			{# crate table with token , quantity and value #}
			<div id="contain-wallet-table">
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>#</th>
								{# <th>Token</th> #}
								<th>Quantity</th>
								<th>Price</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>

							{% for token in tokensArray %}
								<tr>
									<td class="logo-token-box">
										<div class="logo-token">
											<img style="height:35px;width:35px" src="/uploads/logos/{{ tokensLinksArray[token.token] }}" alt="{{ token.token }}" class="img-fluid">
										</div>
									</td>
									{# <td></td> #}
									<td>{{ token.quantity | parseQty }} {{ token.token }}</td>
									<td>{{ token.livePrice | amount100 }}</td>
									<td>{{ token.value | amount100}}</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>


					{# display Total value additionned #}
					<div class="py-5 text-center">
						<h2>Total Value:
							{{ totalWalletValue | amount100 }}</h2>
					</div>

				</div>


			</main>
		</div>
	{% endblock %}
