{% extends 'base.html.twig' %}

{% block title %}Hello Main Controller!
{% endblock %}

{% block body %}

	<div class="container">
		<main>
			<div class="py-5 text-center mt-5">
				<h2>PaperTrade form</h2>
				<p class="lead">Choisissez vos options et calculer vos gains en quelques clics.</p>
			</div>
			{{ form_start(form) }}
			<div class="row">

				<div class="col-4">
					{{ form_row(form.action) }}
				</div>
				<div class="col-4">
					{{ form_row(form.token) }}
				</div>
				<div class="col-4">
					{{ form_row(form.exchange) }}
				</div>
			</div>
			<br>

			<div class="col-12">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>

			{{ form_end(form) }}

			<br>
			{% if tokens %}
				{% if trades %}

					{# Make a table for each token where more than zéro trades are available  #}
					{% for token in tokens %}
						{% if token.trades|length > 0 %}

							{# {{ dump(token.trades) }} #}
							<div class="row">
								<div class="col-12">
									<h3 class="title-center">{{ token.name }}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Action</th>
												<th>Date</th>
												<th>Exchange</th>
												<th>Token</th>
                                                <th>Token Price</th>
												<th>Quantity</th>
												<th>Amount</th>

											</tr>
										</thead>
										<tbody>
											{% for trade in trades %}
												{% if trades|length > 0 %}
													{% if trade.token == token.name %}
														<tr>
															<td>{{ trade.action }}</td>
															<td>{{ trade.createdAt |date('d-m-Y')}}</td>
															<td>{{ trade.exchange }}</td>
															<td>{{ trade.token }}</td>
                                                            <td>{{ trade.tokenPriceTransaction }}</td>
															<td>{{ trade.quantity }}</td>
															<td>{{ trade.orderMount | amount }}</td>
														</tr>
													{% endif %}
												{% else  %}
													<tr>
														<td colspan="4">No trades found</td>
													</tr>
												{% endif %}
											{% endfor %}
										</tbody>
									</tbody>
								</table>
							</div>
						</div>

						{# Add Table with total sell and buy #}
						<div class="row">
							<div class="col-12">
								<table class="table table-bordered border-secondary total-table">
									<thead>
										<tr>
											<th>Recapitulatif</th>
											<th>Buy</th>
											<th>Sell</th>
											<th>Balance</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{ token.name }}</td>
											{# <td> 1500$ </td> #}
											{% if totalTokensTrades[token.name] %}
												<td>{{ totalTokensTrades[token.name]['buy'] | amount }}</td>
												<td>{{ totalTokensTrades[token.name]['sell'] | amount }}</td>
												<td value="{{ totalTokensTrades[token.name]['balance']}}" class="balance-result">{{ totalTokensTrades[token.name]['balance'] | amount }}</td>
											{% else %}
												<td>0</td>
												<td>0</td>
												<td>0</td>
											{% endif %}
										</tr>
									</tbody>
								</table>
								<br><br>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	</main>

</div>{% endblock %}
